.card {
  margin: 1rem auto;
  width: 80%;
  font-weight: 600;
  gap: 0.2rem;
}

.card:hover {
  box-shadow: 10px 7px 7px rgb(244, 222, 222, 0.5);
  transform: scale(1.03);
}

.img {
  object-fit: cover;
  aspect-ratio: 1/1;
}
