.card {
  margin: 1rem;
  width: 80%;
  /* flex: 2 0 20px; */
  font-weight: 600;
  /* gap: 0.1em; */
}

.card:hover {
  box-shadow: 10px 7px 7px rgb(244, 222, 222, 0.5);
}

.img {
  object-fit: fill;
}
